body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:400px;
  top:30px;
  width:193px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:184px;
}
#u1313 {
  position:absolute;
  left:53px;
  top:88px;
  width:870px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1314 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1315 {
  position:absolute;
  left:344px;
  top:413px;
  width:121px;
  height:40px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:498px;
  top:413px;
  width:121px;
  height:40px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1319 {
  position:absolute;
  left:527px;
  top:301px;
  width:75px;
  height:18px;
}
#u1320 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1319_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1321 {
  position:absolute;
  left:602px;
  top:301px;
  width:75px;
  height:18px;
}
#u1322 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1321_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1323 {
  position:absolute;
  left:527px;
  top:301px;
  width:75px;
  height:18px;
}
#u1324 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1323_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1325 {
  position:absolute;
  left:602px;
  top:301px;
  width:75px;
  height:18px;
}
#u1326 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1325_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1327 {
  position:absolute;
  left:309px;
  top:296px;
  width:152px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1329 {
  position:absolute;
  left:526px;
  top:360px;
  width:75px;
  height:18px;
}
#u1330 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1329_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1331 {
  position:absolute;
  left:601px;
  top:360px;
  width:75px;
  height:18px;
}
#u1332 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1331_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1333 {
  position:absolute;
  left:526px;
  top:360px;
  width:75px;
  height:18px;
}
#u1334 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1333_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1335 {
  position:absolute;
  left:601px;
  top:360px;
  width:75px;
  height:18px;
}
#u1336 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1335_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1337 {
  position:absolute;
  left:333px;
  top:355px;
  width:128px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
