body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1224 {
  position:absolute;
  left:400px;
  top:30px;
  width:193px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:184px;
}
#u1226 {
  position:absolute;
  left:53px;
  top:88px;
  width:870px;
  height:184px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1227 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:344px;
  top:413px;
  width:121px;
  height:40px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:498px;
  top:413px;
  width:121px;
  height:40px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1232 {
  position:absolute;
  left:527px;
  top:301px;
  width:75px;
  height:18px;
}
#u1233 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1232_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1234 {
  position:absolute;
  left:602px;
  top:301px;
  width:75px;
  height:18px;
}
#u1235 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1234_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1236 {
  position:absolute;
  left:527px;
  top:301px;
  width:75px;
  height:18px;
}
#u1237 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1236_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1238 {
  position:absolute;
  left:602px;
  top:301px;
  width:75px;
  height:18px;
}
#u1239 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1238_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1240 {
  position:absolute;
  left:309px;
  top:296px;
  width:152px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1242 {
  position:absolute;
  left:526px;
  top:360px;
  width:75px;
  height:18px;
}
#u1243 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1244 {
  position:absolute;
  left:601px;
  top:360px;
  width:75px;
  height:18px;
}
#u1245 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1246 {
  position:absolute;
  left:526px;
  top:360px;
  width:75px;
  height:18px;
}
#u1247 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1246_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1248 {
  position:absolute;
  left:601px;
  top:360px;
  width:75px;
  height:18px;
}
#u1249 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1248_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1250 {
  position:absolute;
  left:333px;
  top:355px;
  width:128px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
