body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1315px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1072 {
  position:absolute;
  left:463px;
  top:277px;
  width:75px;
  height:18px;
}
#u1073 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1074 {
  position:absolute;
  left:462px;
  top:38px;
  width:107px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:156px;
}
#u1076 {
  position:absolute;
  left:54px;
  top:73px;
  width:982px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1077 {
  position:absolute;
  left:8px;
  top:8px;
  width:974px;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:350px;
  top:491px;
  width:121px;
  height:40px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1080 {
  position:absolute;
  left:504px;
  top:491px;
  width:121px;
  height:40px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1082 {
  position:absolute;
  left:205px;
  top:239px;
  width:572px;
  height:184px;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1083 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1084 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1085 {
  position:absolute;
  left:190px;
  top:0px;
  width:188px;
  height:30px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1087 {
  position:absolute;
  left:378px;
  top:0px;
  width:189px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1088 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1089 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1091 {
  position:absolute;
  left:190px;
  top:30px;
  width:188px;
  height:30px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u1092 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1093 {
  position:absolute;
  left:378px;
  top:30px;
  width:189px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:190px;
  top:60px;
  width:188px;
  height:30px;
  font-family:'Monaco';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1098 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:378px;
  top:60px;
  width:189px;
  height:30px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:190px;
  top:90px;
  width:188px;
  height:30px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1105 {
  position:absolute;
  left:378px;
  top:90px;
  width:189px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1109 {
  position:absolute;
  left:190px;
  top:120px;
  width:188px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1111 {
  position:absolute;
  left:378px;
  top:120px;
  width:189px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:29px;
}
#u1113 {
  position:absolute;
  left:0px;
  top:150px;
  width:190px;
  height:29px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:29px;
}
#u1115 {
  position:absolute;
  left:190px;
  top:150px;
  width:188px;
  height:29px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1117 {
  position:absolute;
  left:378px;
  top:150px;
  width:189px;
  height:29px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119 {
  position:absolute;
  left:657px;
  top:277px;
  width:75px;
  height:18px;
}
#u1120 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1121 {
  position:absolute;
  left:658px;
  top:367px;
  width:75px;
  height:18px;
}
#u1122 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1123 {
  position:absolute;
  left:658px;
  top:397px;
  width:75px;
  height:18px;
}
#u1124 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1125 {
  position:absolute;
  left:657px;
  top:307px;
  width:75px;
  height:18px;
}
#u1126 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1127 {
  position:absolute;
  left:657px;
  top:337px;
  width:75px;
  height:18px;
}
#u1128 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1127_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1129 {
  position:absolute;
  left:463px;
  top:367px;
  width:75px;
  height:18px;
}
#u1130 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1131 {
  position:absolute;
  left:463px;
  top:397px;
  width:75px;
  height:18px;
}
#u1132 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1133 {
  position:absolute;
  left:463px;
  top:307px;
  width:75px;
  height:18px;
}
#u1134 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1135 {
  position:absolute;
  left:463px;
  top:337px;
  width:75px;
  height:18px;
}
#u1136 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1137 {
  position:absolute;
  left:645px;
  top:425px;
  width:75px;
  height:18px;
}
#u1138 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1139 {
  position:absolute;
  left:451px;
  top:425px;
  width:75px;
  height:18px;
}
#u1140 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1139_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:79px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1141 {
  position:absolute;
  left:1165px;
  top:171px;
  width:150px;
  height:79px;
}
#u1142 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
