body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1012 {
  position:absolute;
  left:463px;
  top:277px;
  width:75px;
  height:18px;
}
#u1013 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1014 {
  position:absolute;
  left:462px;
  top:38px;
  width:107px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:156px;
}
#u1016 {
  position:absolute;
  left:54px;
  top:73px;
  width:982px;
  height:156px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1017 {
  position:absolute;
  left:8px;
  top:8px;
  width:974px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:350px;
  top:491px;
  width:121px;
  height:40px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:504px;
  top:491px;
  width:121px;
  height:40px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:205px;
  top:239px;
  width:572px;
  height:184px;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1024 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:190px;
  top:0px;
  width:188px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:378px;
  top:0px;
  width:189px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:30px;
  width:190px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:190px;
  top:30px;
  width:188px;
  height:30px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u1032 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:378px;
  top:30px;
  width:189px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:0px;
  top:60px;
  width:190px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:190px;
  top:60px;
  width:188px;
  height:30px;
  font-family:'Monaco';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u1038 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:378px;
  top:60px;
  width:189px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:90px;
  width:190px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:190px;
  top:90px;
  width:188px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:378px;
  top:90px;
  width:189px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:120px;
  width:190px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:190px;
  top:120px;
  width:188px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:7px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:378px;
  top:120px;
  width:189px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:29px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:150px;
  width:190px;
  height:29px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:6px;
  width:186px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:29px;
}
#u1055 {
  position:absolute;
  left:190px;
  top:150px;
  width:188px;
  height:29px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:29px;
}
#u1057 {
  position:absolute;
  left:378px;
  top:150px;
  width:189px;
  height:29px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059 {
  position:absolute;
  left:657px;
  top:277px;
  width:75px;
  height:18px;
}
#u1060 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1059_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1061 {
  position:absolute;
  left:658px;
  top:367px;
  width:75px;
  height:18px;
}
#u1062 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1061_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1063 {
  position:absolute;
  left:658px;
  top:397px;
  width:75px;
  height:18px;
}
#u1064 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1063_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1065 {
  position:absolute;
  left:657px;
  top:307px;
  width:75px;
  height:18px;
}
#u1066 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1065_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1067 {
  position:absolute;
  left:657px;
  top:337px;
  width:75px;
  height:18px;
}
#u1068 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1067_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1069 {
  position:absolute;
  left:463px;
  top:367px;
  width:75px;
  height:18px;
}
#u1070 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1069_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1071 {
  position:absolute;
  left:463px;
  top:397px;
  width:75px;
  height:18px;
}
#u1072 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1071_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1073 {
  position:absolute;
  left:463px;
  top:307px;
  width:75px;
  height:18px;
}
#u1074 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1073_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1075 {
  position:absolute;
  left:463px;
  top:337px;
  width:75px;
  height:18px;
}
#u1076 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1075_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1077 {
  position:absolute;
  left:645px;
  top:425px;
  width:75px;
  height:18px;
}
#u1078 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1077_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1079 {
  position:absolute;
  left:451px;
  top:425px;
  width:75px;
  height:18px;
}
#u1080 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1079_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
