body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u0 {
  position:absolute;
  left:278px;
  top:104px;
  width:47px;
  height:47px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:335px;
  top:120px;
  width:101px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:2px;
}
#u4 {
  position:absolute;
  left:222px;
  top:178px;
  width:1114px;
  height:1px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:164px;
  top:104px;
  width:999px;
  height:478px;
  overflow:hidden;
  visibility:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:469px;
  font-size:18px;
  color:#666666;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u9 {
  position:absolute;
  left:474px;
  top:408px;
  width:98px;
  height:35px;
  color:#666666;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:336px;
  top:408px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u13 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:299px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:299px;
}
#u6_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:478px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#666666;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:474px;
  font-size:18px;
  color:#666666;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:995px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u18 {
  position:absolute;
  left:489px;
  top:417px;
  width:98px;
  height:35px;
  color:#666666;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:351px;
  top:417px;
  width:98px;
  height:35px;
  color:#FFFFFF;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:2px;
}
#u22 {
  position:absolute;
  left:0px;
  top:63px;
  width:999px;
  height:1px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-8px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:12px;
  top:70px;
  width:987px;
  height:305px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:305px;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u25 {
  position:absolute;
  left:266px;
  top:234px;
  width:172px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
}
#u27 {
  position:absolute;
  left:266px;
  top:272px;
  width:243px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u27_ann {
  position:absolute;
  left:502px;
  top:268px;
  width:1px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u29 {
  position:absolute;
  left:266px;
  top:534px;
  width:12px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u30 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u31 {
  position:absolute;
  left:286px;
  top:537px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u33 {
  position:fixed;
  right:150px;
  bottom:20px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u36 {
  position:absolute;
  left:266px;
  top:324px;
  width:12px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u37 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u38 {
  position:absolute;
  left:286px;
  top:327px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:288px;
  top:356px;
  width:505px;
  height:149px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u43 {
  position:absolute;
  left:100px;
  top:0px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u45 {
  position:absolute;
  left:250px;
  top:0px;
  width:100px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u47 {
  position:absolute;
  left:350px;
  top:0px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u49 {
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u51 {
  position:absolute;
  left:100px;
  top:36px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u53 {
  position:absolute;
  left:250px;
  top:36px;
  width:100px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u55 {
  position:absolute;
  left:350px;
  top:36px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u57 {
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:36px;
}
#u58 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u59 {
  position:absolute;
  left:100px;
  top:72px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u60 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u61 {
  position:absolute;
  left:250px;
  top:72px;
  width:100px;
  height:36px;
}
#u62 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u63 {
  position:absolute;
  left:350px;
  top:72px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u65 {
  position:absolute;
  left:0px;
  top:108px;
  width:100px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u67 {
  position:absolute;
  left:100px;
  top:108px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u69 {
  position:absolute;
  left:250px;
  top:108px;
  width:100px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u71 {
  position:absolute;
  left:350px;
  top:108px;
  width:150px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:2px;
}
#u73 {
  position:absolute;
  left:222px;
  top:178px;
  width:1114px;
  height:1px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u75 {
  position:absolute;
  left:414px;
  top:975px;
  width:12px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
  line-height:25px;
}
#u76 {
  position:absolute;
  left:0px;
  top:-14px;
  width:12px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u77 {
  position:absolute;
  left:434px;
  top:978px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80 {
  position:absolute;
  left:-2px;
  top:301px;
  width:223px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80.mouseOver {
}
#u80_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u80.selected {
}
#u81 {
  position:absolute;
  left:2px;
  top:18px;
  width:219px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:-1px;
  top:355px;
  width:222px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82.mouseOver {
}
#u82_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82.selected {
}
#u83 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84 {
  position:absolute;
  left:-1px;
  top:409px;
  width:222px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84.mouseOver {
}
#u84_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84.selected {
}
#u85 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:499px;
  top:776px;
  width:383px;
  height:366px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u89 {
  position:absolute;
  left:189px;
  top:0px;
  width:189px;
  height:37px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u91 {
  position:absolute;
  left:0px;
  top:37px;
  width:189px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u93 {
  position:absolute;
  left:189px;
  top:37px;
  width:189px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u95 {
  position:absolute;
  left:0px;
  top:73px;
  width:189px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u97 {
  position:absolute;
  left:189px;
  top:73px;
  width:189px;
  height:36px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u99 {
  position:absolute;
  left:0px;
  top:109px;
  width:189px;
  height:36px;
}
#u100 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u101 {
  position:absolute;
  left:189px;
  top:109px;
  width:189px;
  height:36px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u103 {
  position:absolute;
  left:0px;
  top:145px;
  width:189px;
  height:36px;
}
#u104 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u105 {
  position:absolute;
  left:189px;
  top:145px;
  width:189px;
  height:36px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u107 {
  position:absolute;
  left:0px;
  top:181px;
  width:189px;
  height:36px;
}
#u108 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u109 {
  position:absolute;
  left:189px;
  top:181px;
  width:189px;
  height:36px;
}
#u110 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u111 {
  position:absolute;
  left:0px;
  top:217px;
  width:189px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u113 {
  position:absolute;
  left:189px;
  top:217px;
  width:189px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u115 {
  position:absolute;
  left:0px;
  top:253px;
  width:189px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u117 {
  position:absolute;
  left:189px;
  top:253px;
  width:189px;
  height:36px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u119 {
  position:absolute;
  left:0px;
  top:289px;
  width:189px;
  height:36px;
}
#u120 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u121 {
  position:absolute;
  left:189px;
  top:289px;
  width:189px;
  height:36px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u123 {
  position:absolute;
  left:0px;
  top:325px;
  width:189px;
  height:36px;
}
#u124 {
  position:absolute;
  left:2px;
  top:9px;
  width:185px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
}
#u125 {
  position:absolute;
  left:189px;
  top:325px;
  width:189px;
  height:36px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:649px;
  top:222px;
  width:94px;
  height:34px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:-4px;
  top:0px;
  width:1349px;
  height:81px;
}
#u131 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u132 {
  position:absolute;
  left:73px;
  top:117px;
  width:72px;
  height:72px;
}
#u133 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u134 {
  position:absolute;
  left:88px;
  top:199px;
  width:43px;
  height:16px;
  color:#1E1E1E;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:85px;
  top:27px;
  width:210px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u138 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u139 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u140 {
  position:absolute;
  left:154px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'TimesNewRomanPSMT', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u142 {
  position:absolute;
  left:220px;
  top:81px;
  width:1px;
  height:776px;
}
#u143 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u144 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u145 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u148 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u149 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u150 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u151 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:1084px;
  top:80px;
  visibility:hidden;
}
#u152_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u152_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u153_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u153.mouseOver {
}
#u154 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u155 {
  position:absolute;
  left:0px;
  top:61px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u155_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u155.mouseOver {
}
#u156 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:743px;
  top:222px;
  width:94px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u159 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:837px;
  top:222px;
  width:94px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u161 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u162 {
  position:fixed;
  right:150px;
  bottom:20px;
}
#u162_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u162_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:37px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:28px;
}
#u165 {
  position:absolute;
  left:266px;
  top:569px;
  width:415px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u166 {
  position:absolute;
  left:9px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u167 {
  position:absolute;
  left:266px;
  top:614px;
  width:146px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
