body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1170 {
  position:absolute;
  left:400px;
  top:30px;
  width:185px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1171 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:128px;
}
#u1172 {
  position:absolute;
  left:53px;
  top:88px;
  width:870px;
  height:128px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1173 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1174 {
  position:absolute;
  left:344px;
  top:413px;
  width:121px;
  height:40px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  position:absolute;
  left:498px;
  top:413px;
  width:121px;
  height:40px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1178 {
  position:absolute;
  left:561px;
  top:258px;
  width:75px;
  height:18px;
}
#u1179 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1180 {
  position:absolute;
  left:636px;
  top:258px;
  width:75px;
  height:18px;
}
#u1181 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1182 {
  position:absolute;
  left:561px;
  top:258px;
  width:75px;
  height:18px;
}
#u1183 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1184 {
  position:absolute;
  left:636px;
  top:258px;
  width:75px;
  height:18px;
}
#u1185 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1184_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1186 {
  position:absolute;
  left:98px;
  top:253px;
  width:385px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u1188 {
  position:absolute;
  left:560px;
  top:317px;
  width:75px;
  height:18px;
}
#u1189 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1188_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1190 {
  position:absolute;
  left:635px;
  top:317px;
  width:75px;
  height:18px;
}
#u1191 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1192 {
  position:absolute;
  left:560px;
  top:317px;
  width:75px;
  height:18px;
}
#u1193 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1192_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1194 {
  position:absolute;
  left:635px;
  top:317px;
  width:75px;
  height:18px;
}
#u1195 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1194_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1196 {
  position:absolute;
  left:97px;
  top:312px;
  width:454px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
