body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:524px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:524px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1002 {
  position:absolute;
  left:2px;
  top:253px;
  width:911px;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:197px;
  top:211px;
}
#u1003_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1003_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:218px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1004 {
  position:absolute;
  left:10px;
  top:6px;
  width:774px;
  height:218px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:101px;
  width:770px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:78px;
}
#u1006 {
  position:absolute;
  left:27px;
  top:30px;
  width:729px;
  height:78px;
  font-size:14px;
}
#u1007 {
  position:absolute;
  left:9px;
  top:9px;
  width:711px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:54px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1008 {
  position:absolute;
  left:150px;
  top:138px;
  width:181px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1009 {
  position:absolute;
  left:2px;
  top:16px;
  width:177px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:54px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:406px;
  top:138px;
  width:181px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:2px;
  top:16px;
  width:177px;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:351px;
  top:555px;
  width:121px;
  height:40px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:505px;
  top:555px;
  width:121px;
  height:40px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
