body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1308 {
  position:absolute;
  left:400px;
  top:30px;
  width:118px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:100px;
}
#u1310 {
  position:absolute;
  left:53px;
  top:88px;
  width:870px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1311 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:356px;
  top:555px;
  width:121px;
  height:40px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:510px;
  top:555px;
  width:121px;
  height:40px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1317 {
  position:absolute;
  left:473px;
  top:224px;
  width:75px;
  height:18px;
}
#u1318 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1317_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1319 {
  position:absolute;
  left:548px;
  top:224px;
  width:75px;
  height:18px;
}
#u1320 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1319_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1321 {
  position:absolute;
  left:473px;
  top:224px;
  width:75px;
  height:18px;
}
#u1322 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1321_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1323 {
  position:absolute;
  left:548px;
  top:224px;
  width:75px;
  height:18px;
}
#u1324 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1323_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1325 {
  position:absolute;
  left:356px;
  top:220px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328 {
  position:absolute;
  left:473px;
  top:274px;
  width:75px;
  height:18px;
}
#u1329 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1328_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1330 {
  position:absolute;
  left:548px;
  top:274px;
  width:75px;
  height:18px;
}
#u1331 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1330_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1332 {
  position:absolute;
  left:473px;
  top:274px;
  width:75px;
  height:18px;
}
#u1333 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1332_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1334 {
  position:absolute;
  left:548px;
  top:274px;
  width:75px;
  height:18px;
}
#u1335 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1334_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1336 {
  position:absolute;
  left:356px;
  top:270px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339 {
  position:absolute;
  left:473px;
  top:325px;
  width:75px;
  height:18px;
}
#u1340 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1339_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1341 {
  position:absolute;
  left:548px;
  top:325px;
  width:75px;
  height:18px;
}
#u1342 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1341_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1343 {
  position:absolute;
  left:473px;
  top:325px;
  width:75px;
  height:18px;
}
#u1344 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1343_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1345 {
  position:absolute;
  left:548px;
  top:325px;
  width:75px;
  height:18px;
}
#u1346 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1345_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1347 {
  position:absolute;
  left:356px;
  top:321px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1350 {
  position:absolute;
  left:473px;
  top:375px;
  width:75px;
  height:18px;
}
#u1351 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1350_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1352 {
  position:absolute;
  left:548px;
  top:375px;
  width:75px;
  height:18px;
}
#u1353 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1352_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1354 {
  position:absolute;
  left:473px;
  top:375px;
  width:75px;
  height:18px;
}
#u1355 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1354_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1356 {
  position:absolute;
  left:548px;
  top:375px;
  width:75px;
  height:18px;
}
#u1357 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1356_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1358 {
  position:absolute;
  left:356px;
  top:371px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1360 {
  position:absolute;
  left:356px;
  top:422px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1362 {
  position:absolute;
  left:356px;
  top:472px;
  width:49px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  line-height:28px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365 {
  position:absolute;
  left:473px;
  top:426px;
  width:75px;
  height:18px;
}
#u1366 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1365_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1367 {
  position:absolute;
  left:548px;
  top:426px;
  width:75px;
  height:18px;
}
#u1368 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1367_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1369 {
  position:absolute;
  left:473px;
  top:426px;
  width:75px;
  height:18px;
}
#u1370 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1369_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1371 {
  position:absolute;
  left:548px;
  top:426px;
  width:75px;
  height:18px;
}
#u1372 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1371_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1374 {
  position:absolute;
  left:473px;
  top:476px;
  width:75px;
  height:18px;
}
#u1375 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1374_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1376 {
  position:absolute;
  left:548px;
  top:476px;
  width:75px;
  height:18px;
}
#u1377 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1376_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1378 {
  position:absolute;
  left:473px;
  top:476px;
  width:75px;
  height:18px;
}
#u1379 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1378_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1380 {
  position:absolute;
  left:548px;
  top:476px;
  width:75px;
  height:18px;
}
#u1381 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1380_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1382 {
  position:absolute;
  left:919px;
  top:501px;
  width:319px;
  height:147px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:66px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:28px;
}
#u1384 {
  position:absolute;
  left:964px;
  top:544px;
  width:230px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:28px;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1386 {
  position:absolute;
  left:937px;
  top:586px;
  width:121px;
  height:40px;
}
#u1387 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  position:absolute;
  left:1089px;
  top:586px;
  width:121px;
  height:40px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1390 {
  position:absolute;
  left:631px;
  top:575px;
  width:0px;
  height:0px;
}
#u1390_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:292px;
  height:8px;
}
#u1390_seg1 {
  position:absolute;
  left:273px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1391 {
  position:absolute;
  left:94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
