body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0 {
  position:absolute;
  left:400px;
  top:30px;
  width:214px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:72px;
}
#u2 {
  position:absolute;
  left:53px;
  top:88px;
  width:870px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u3 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:344px;
  top:413px;
  width:121px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:498px;
  top:413px;
  width:121px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:53px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:29px;
}
#u8 {
  position:absolute;
  left:374px;
  top:249px;
  width:213px;
  height:53px;
  font-size:29px;
}
#u9 {
  position:absolute;
  left:2px;
  top:6px;
  width:209px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u10 {
  position:absolute;
  left:1073px;
  top:176px;
  width:178px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u12 {
  position:absolute;
  left:1073px;
  top:237px;
  width:152px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u14 {
  position:absolute;
  left:1258px;
  top:239px;
  width:77px;
  height:40px;
  font-size:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u16 {
  position:absolute;
  left:1355px;
  top:239px;
  width:77px;
  height:40px;
  font-size:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-2px;
  width:73px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:1073px;
  top:402px;
  width:121px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:1227px;
  top:402px;
  width:121px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:50px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:29px;
}
#u22 {
  position:absolute;
  left:1073px;
  top:299px;
  width:166px;
  height:50px;
  font-size:29px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:249px;
  height:25px;
}
#u24 {
  position:absolute;
  left:744px;
  top:273px;
  width:237px;
  height:5px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-6px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:29px;
}
#u26 {
  position:absolute;
  left:1269px;
  top:299px;
  width:213px;
  height:50px;
  font-size:29px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:209px;
  word-wrap:break-word;
}
