body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1341px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:81px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u618 {
  position:absolute;
  left:-4px;
  top:0px;
  width:1349px;
  height:81px;
}
#u619 {
  position:absolute;
  left:2px;
  top:32px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u620 {
  position:absolute;
  left:73px;
  top:117px;
  width:72px;
  height:72px;
}
#u621 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u622 {
  position:absolute;
  left:88px;
  top:199px;
  width:43px;
  height:16px;
  color:#1E1E1E;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u624 {
  position:absolute;
  left:85px;
  top:27px;
  width:210px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:29px;
}
#u626 {
  position:absolute;
  left:39px;
  top:28px;
  width:36px;
  height:28px;
}
#u627 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  word-wrap:break-word;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u628 {
  position:absolute;
  left:154px;
  top:26px;
  width:15px;
  height:22px;
  font-family:'TimesNewRomanPSMT', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:19px;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:777px;
}
#u630 {
  position:absolute;
  left:220px;
  top:81px;
  width:1px;
  height:776px;
}
#u631 {
  position:absolute;
  left:2px;
  top:380px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u632 {
  position:absolute;
  left:1124px;
  top:29px;
  width:23px;
  height:23px;
}
#u633 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u634 {
  position:absolute;
  left:1189px;
  top:33px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u635 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:82px;
}
#u636 {
  position:absolute;
  left:1084px;
  top:0px;
  width:1px;
  height:81px;
}
#u637 {
  position:absolute;
  left:2px;
  top:32px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u638 {
  position:absolute;
  left:1296px;
  top:37px;
  width:13px;
  height:8px;
}
#u639 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640 {
  position:absolute;
  left:1084px;
  top:80px;
  visibility:hidden;
}
#u640_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u640_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u641_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u641.mouseOver {
}
#u642 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u643 {
  position:absolute;
  left:0px;
  top:61px;
  width:261px;
  height:61px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u643_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:-2px 0px 2px rgba(174, 174, 174, 0.349019607843137);
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u643.mouseOver {
}
#u644 {
  position:absolute;
  left:28px;
  top:22px;
  width:231px;
  word-wrap:break-word;
}
#u645 {
  position:absolute;
  left:1084px;
  top:0px;
  width:261px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u646 {
  position:absolute;
  left:266px;
  top:231px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u648 {
  position:absolute;
  left:266px;
  top:257px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u650 {
  position:absolute;
  left:266px;
  top:298px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:266px;
  top:324px;
  width:15px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#999999;
}
#u654 {
  position:absolute;
  left:266px;
  top:440px;
  width:127px;
  height:16px;
  text-decoration:underline;
  color:#999999;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u656 {
  position:absolute;
  left:266px;
  top:527px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:266px;
  top:553px;
  width:89px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u660 {
  position:absolute;
  left:266px;
  top:111px;
  width:57px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u662 {
  position:absolute;
  left:266px;
  top:137px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u664 {
  position:absolute;
  left:266px;
  top:162px;
  width:40px;
  height:40px;
}
#u665 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u666 {
  position:absolute;
  left:391px;
  top:552px;
  width:31px;
  height:22px;
  text-decoration:underline;
}
#u667 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u668 {
  position:absolute;
  left:266px;
  top:483px;
  width:345px;
  height:1px;
  color:#E4E4E4;
}
#u669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u670 {
  position:absolute;
  left:266px;
  top:501px;
  width:57px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u672 {
  position:absolute;
  left:326px;
  top:174px;
  width:57px;
  height:16px;
  text-decoration:underline;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675 {
  position:absolute;
  left:-2px;
  top:301px;
  width:223px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675.mouseOver {
}
#u675_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675.selected {
}
#u676 {
  position:absolute;
  left:2px;
  top:18px;
  width:219px;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:-1px;
  top:355px;
  width:222px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677.mouseOver {
}
#u677_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u677.selected {
}
#u678 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u679 {
  position:absolute;
  left:-1px;
  top:409px;
  width:222px;
  height:54px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u679_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u679.mouseOver {
}
#u679_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:54px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u679.selected {
}
#u680 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u681 {
  position:absolute;
  left:266px;
  top:584px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u683 {
  position:absolute;
  left:266px;
  top:611px;
  width:31px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u685 {
  position:absolute;
  left:391px;
  top:609px;
  width:31px;
  height:22px;
  text-decoration:underline;
}
#u686 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u687 {
  position:absolute;
  left:266px;
  top:359px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:266px;
  top:385px;
  width:106px;
  height:20px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
