body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1227 {
  position:absolute;
  left:400px;
  top:30px;
  width:178px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:100px;
}
#u1229 {
  position:absolute;
  left:53px;
  top:109px;
  width:870px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1230 {
  position:absolute;
  left:8px;
  top:8px;
  width:862px;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  position:absolute;
  left:345px;
  top:427px;
  width:121px;
  height:40px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:499px;
  top:427px;
  width:121px;
  height:40px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
}
#u1235 {
  position:absolute;
  left:53px;
  top:74px;
  width:85px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'NewPeninimMT-Bold', 'New Peninim MT Bold', 'New Peninim MT';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1237 {
  position:absolute;
  left:345px;
  top:247px;
  width:280px;
  height:41px;
  font-family:'NewPeninimMT-Bold', 'New Peninim MT Bold', 'New Peninim MT';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u1239 {
  position:absolute;
  left:353px;
  top:304px;
  width:20px;
  height:16px;
}
#u1240 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1241 {
  position:absolute;
  left:252px;
  top:298px;
  width:86px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1243 {
  position:absolute;
  left:417px;
  top:304px;
  width:20px;
  height:16px;
}
#u1244 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1245 {
  position:absolute;
  left:471px;
  top:304px;
  width:20px;
  height:16px;
}
#u1246 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1247 {
  position:absolute;
  left:535px;
  top:304px;
  width:20px;
  height:16px;
}
#u1248 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1249 {
  position:absolute;
  left:599px;
  top:304px;
  width:20px;
  height:16px;
}
#u1250 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
