body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:500px;
  top:31px;
  width:69px;
  height:39px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1018 {
  position:absolute;
  left:462px;
  top:38px;
  width:108px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:982px;
  height:72px;
}
#u1020 {
  position:absolute;
  left:54px;
  top:73px;
  width:982px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:28px;
}
#u1021 {
  position:absolute;
  left:8px;
  top:8px;
  width:974px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:1185px;
  top:39px;
  width:183px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1024 {
  position:absolute;
  left:569px;
  top:51px;
  width:0px;
  height:0px;
}
#u1024_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:605px;
  height:8px;
}
#u1024_seg1 {
  position:absolute;
  left:597px;
  top:-6px;
  width:8px;
  height:10px;
}
#u1024_seg2 {
  position:absolute;
  left:597px;
  top:-6px;
  width:19px;
  height:8px;
}
#u1024_seg3 {
  position:absolute;
  left:601px;
  top:-12px;
  width:20px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:259px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026 {
  position:absolute;
  left:112px;
  top:450px;
  width:75px;
  height:18px;
}
#u1027 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1026_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1028 {
  position:absolute;
  left:187px;
  top:450px;
  width:75px;
  height:18px;
}
#u1029 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1028_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1030 {
  position:absolute;
  left:112px;
  top:450px;
  width:75px;
  height:18px;
}
#u1031 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1032 {
  position:absolute;
  left:187px;
  top:450px;
  width:75px;
  height:18px;
}
#u1033 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1032_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:212px;
}
#u1034 {
  position:absolute;
  left:50px;
  top:228px;
  width:909px;
  height:212px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:98px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:441px;
  top:450px;
  width:75px;
  height:18px;
}
#u1037 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1038 {
  position:absolute;
  left:516px;
  top:450px;
  width:75px;
  height:18px;
}
#u1039 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1038_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1040 {
  position:absolute;
  left:441px;
  top:450px;
  width:75px;
  height:18px;
}
#u1041 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1040_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1042 {
  position:absolute;
  left:516px;
  top:450px;
  width:75px;
  height:18px;
}
#u1043 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1042_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1044 {
  position:absolute;
  left:796px;
  top:450px;
  width:75px;
  height:18px;
}
#u1045 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1044_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1046 {
  position:absolute;
  left:871px;
  top:450px;
  width:75px;
  height:18px;
}
#u1047 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1046_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1048 {
  position:absolute;
  left:796px;
  top:450px;
  width:75px;
  height:18px;
}
#u1049 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1050 {
  position:absolute;
  left:871px;
  top:450px;
  width:75px;
  height:18px;
}
#u1051 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1050_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:355px;
  top:586px;
  width:121px;
  height:40px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  position:absolute;
  left:509px;
  top:586px;
  width:121px;
  height:40px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:11px;
  width:117px;
  word-wrap:break-word;
}
